body {
	margin: 0;
	padding: 0;
	background: #f6ebc2;
	font-size: 100%;
	font-family: Arial, Helvetica, Verdana, sans-serif;
}

#main {
	background: url(/common/imgs/main-bg.gif) top center repeat-y;
	background-color:#FFF;
	margin: 0 auto;
	width: 992px;
	font-size: 0.8125em; /* 13 */
}

#homepage {
	background: url(/common/imgs/main-upper2.png) top center no-repeat;
}

#query_page {
	background: url(/common/imgs/main-upper2.png) top center no-repeat;
}

#header {
	height: 131px;
}

#header h1 {
	display: inline;
	float: left;
	margin-top: 15px;
	margin-right: 0;
	margin-bottom: 0;
	margin-left: 19px;
}

#phones {
	display: inline;
	float: right;
	width: 16em;
	margin: 21px 46px 0 0;
	text-align: center;
	color: #005595;
}

#phones h2 {
	font-size: 1.8462em; /* 22 */
	margin: 0;
}

#phones p {
	font-size: 0.9231em; /* 12 */
	margin: 0;
}

#content_main {
	margin-left: 29px;
	width: 933px;
	float: none;
}

#homepage #content_main {
	height: 520px;
}

#query_page #content_main {
	margin-bottom: 7px;
}

#footer {
	background: #F6EBC2 url(/common/imgs/main-lower.gif) top center no-repeat;
	padding-top: 12px;
	clear: both;
	color: #347513;
	text-align: center;
	font-size: 0.8462em; /* 11 */
}

#footer a {
	color: #347513;
}
#homepage{



}
#wrapper {
    width: auto;
    border: 1px solid black;
    overflow: hidden;
    font-style: normal;
    text-align: left;
}
#filter {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    float:left;
    border: 1px solid blue;
    font-style: normal;
    width: 250px;
}

#results {
    font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
    overflow: hidden;
    border: 3px solid red;
    padding: 10px;
    float: left;
}
#title {

}
#left{
    width: 125px;
    float:left;
    margin-bottom: 10px;
}
#right{
margin-left: 125 px;
}
#test1{
    width: 125px;
    float: left;
}
#test2{
    float: right;
}

.top {

}
.tftextinput {

}
.tfbutton {

}